{% extends 'base.html'%}

{% block title %}
    Dashboard Page
{% endblock %}

{% block content %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.5.1/chart.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/7.0.3/d3.min.js"></script>



<div>
  <canvas id="myCanvas" width=".5" height=".5"></canvas>
</div>

<div>
  <canvas id="myCanvas2" width=".5" height=".5"></canvas>
</div>



<script>
d3.csv("/static/books.csv")
.then(makeChart);

function makeChart(data) {
    var canvas = document.getElementById("myCanvas");
    var canvas2 = document.getElementById("myCanvas2");
    var titles = data.map(function(d) {return d.title;});
    var subjects = data.map(function(d) {return d.subject;});
    var hours = data.map(function(d) {return d.hours;});
    var date = data.map(function(d) {return d.date;});


    function checkSubjects(subject) {
        var results = [];
        return subject === 'Mathematics';
    }

    console.log(subjects.find(checkSubjects));








    console.log(hours);
    console.log(date);


        function getUnique(array){
        var uniqueArray = [];

        // Loop through array values
        for(i=0; i < array.length; i++){
            if(uniqueArray.indexOf(array[i]) === -1) {
                uniqueArray.push(array[i]);
            }
        }
        return uniqueArray;
    }

  var uniqueSubjects = getUnique(subjects);
  console.log(uniqueSubjects);
  var uniqueTitles = getUnique(titles);
  console.log(uniqueTitles);

  var title_hours = [titles,hours];

  console.log(title_hours);


    new Chart(canvas, {
    type: 'bar',
    data: {
      labels: uniqueSubjects,
      datasets: [
        {
          data: hours
        }
      ]
    }
  });
    // Turns hours strings into ints
    var hours_num = hours.map(Number);

    // Cumulates hours to display on line chart
    var cumulative_hours = [];
    hours_num.reduce(function(a,b,i) { return cumulative_hours[i] = a+b; }, 0);
    console.log(cumulative_hours);


    new Chart(canvas2, {
  type: 'line',
  data: {
    labels: date,
    datasets: [{
        data: cumulative_hours,
      }
    ]
  }
  });

}


</script>
{% endblock %}